<div class="shadow rounded mt-4 mb-4 col-sm-5" data-aos="flip-left" style="background-color: #fff;">
	<div class="p-4 mt-4">
		<%= simple_form_for(@art) do |f|  %>
		<%= f.input :name, placeholder: "Name", label: false %>
		<%= f.input :artist, placeholder: "Artist", label: false %>
		<%= f.input :price, placeholder: "Price", label: false %>
		<%= f.input :rate, placeholder: "Daily rate", label: false, prepend: '£' %>
		<%= f.input :style, placeholder: "Style", collection: Art::STYLES %>
		<%= f.input :photo, as: :file, label: false %>
		<%= f.submit "Submit", class:"btn btn-outline-success"%>
		<% end %>
	</div>
</div>