<div class="navbar navbar-expand-lg navbar-light navbar-lewagon border-bottom d-flex justify-content-between">
	
	<div>
		<%= link_to root_path do  %>
	        <%= image_tag 'logo.png', class: "logo ml-1" %>		
		<% end %>	
	</div>
    	<% if user_signed_in? %>
	    	<div class="d-flex" style="list-style: none">
	    		<li class="nav-item">
		    		<%= link_to "Home", root_path, class: " nav-link", id: "home-button" %>
		    	</li>
				<li class="nav-item">
					<% if policy(Art).create? %>
             		<%= link_to "Upload Art", new_art_path, class: "nav-link", style: "color: rgba(0, 0, 0, 0.5);" %>
             		<% end %>
          		</li>
          		<li class="nav-item">
             		<%= link_to "All Bookings", bookings_path, class: "nav-link", style: "color: rgba(0, 0, 0, 0.5);" %>
          		</li>
	    	</div>
				
				<li class="nav-item dropdown active" style="list-style: none">
		          <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
		          <div class="dropdown-menu dropdown-menu-right">
		          	<% if user_signed_in? %>
			            <h6 class="ml-4" style="color: #5bc0be"><i> Hello <%= current_user.first_name %></i></h6>
			            <% end %>
		          	<%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item links" %>
		            <%= link_to "SignOut", destroy_user_session_path, method: :delete, class: "dropdown-item links"  %>
		          </div>
		        </li>
		<% else %>
				<%= link_to "Upload Art", new_art_path, class: "btn  btn-outline-secondary rounded mr-3" %>
		<% end %>
</div>


<div class="container full-page" style="margin-top: 120px;">
	<% if Art.search_by_name_and_artist(params[:query]).present? %>
		<h3 class="text-center p-3" style="color: #5bc0be">Here are the results</h3>
	<% elsif params[:query].blank? && Art.count > 0 %>
		<h3 class="text-center p-3" style="color: #5bc0be">View All Our Arts</h3>
	<% else %>
		<h3 class="text-center p-3" style="color: #5bc0be">Sorry, No results found</h3>
	<% end %>

	<div class="row">
		<% @arts.each do |art| %>
			<div class="col-sm-4">	
				<%= link_to art_path(art), class:"text-decoration-none" do %>
					<div class="card" style="width: 21rem;">
						<% if art.photo.attached? %>
						<%= cl_image_tag art.photo.key, width: 335, height: 280, class: "card-image" %>
						<% end %>
					   	 <div class="card-body">
						    <h5><i class="text-dark">"<%= art.name %>"</i></h5>	
							<h6 class="" style="color: rgba(0, 0, 0, 0.5);">Author : <%= art.artist %></h6> 
							<h6 class="card-text" style="color: rgba(0, 0, 0, 0.5);">Style : <%= art.style %></h6> 
							<h6 class="card-text" style="color: rgba(0, 0, 0, 0.5);">Cost : £<%= art.price %></h6> 
							<h6 class="card-text" style="color: rgba(0, 0, 0, 0.5);">Rent : £<%= art.rate %> per day</h6>
							<h6 class="card-text" style="color: rgba(0, 0, 0, 0.5);"> Owner : <%= art.owner %></h6>	
						 <div class="mt-1">				
				 	  		<% if policy(art).edit? %>
								<%= link_to "edit", edit_art_path(art), class: "btn btn-outline-dark w-100"  %>
							<% end %>
							<% if policy(art).destroy? %>
								<%= link_to "Delete", art_path(art), method: :delete, class: "btn bg-dark w-100 text-white" %>
							<% end %>
						 </div>					
					   	</div>
			 	  	</div>		 	  		  			  	
				<% end %>
		 	</div>
		<% end %>
	</div>
</div>



